.card_container {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    background-color: #d8d8d8;
    height: 300px;
    width: 200px;
    box-shadow: 2px 2px 5px grey;
}

.card_container img {
    align-self: center;
    height: 200px;
    max-width: 198px;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.card_ratingNum {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5b280a;
}

.card_link {
    text-decoration: none;
    color: #5b280a;
}

.card_link:hover {
    color: #b48a66;
}

.card_title {
    color: #5b280a;
}