.container {
    padding: 0px !important;
    margin: 0px !important;
}

.home_spacing {
    margin-right: 20% !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.home_arnold {
    position:absolute;
    width: 500px;;
    max-height: 800px;
    top: 300px;
    bottom:0%;
    object-fit:cover;
    object-position: center top;
}