.nav_nav {
    height: 90px;
    background-color: #d8d8d8;
    border-bottom: 1px solid #b4b4b4;
}

.nav_ul li {
    margin-left: 20px;
    font-size: 20px;
    font-family:'Trebuchet MS';
    font-weight: 500;
}

.nav_ul li a {
    color: #6f3a1b;
    text-decoration: none;
}

.nav_ul li a:hover {
    color: #b48a66;
}

.nav_ul li a.active {
    font-weight:700;
}

.nav_logo {
    object-fit:cover;
    height: 70px;
    width: 200px;
    filter: invert(17%) sepia(82%) saturate(805%) hue-rotate(350deg) brightness(91%) contrast(97%);
}

.nav_logo:hover {
    filter: invert(60%) sepia(8%) saturate(1857%) hue-rotate(346deg) brightness(94%) contrast(85%);
}